@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css')
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.object-fit_fill {
  object-fit: fill;
}
.object-fit_contain {
  object-position: top;
  object-fit: contain;
}
.object-fit_cover {
  object-fit: cover;
}
.object-fit_none {
  object-fit: none;
}
.object-fit_scale-down {
  object-fit: scale-down;
}

img {
  height: 120px;
  background-color: #444;
}

img[class] {
  width: 100%;
}

.image {
  float: left;
  width: 10%;
  &:nth-child(2n) {
    clear: left;
  }

  &:nth-child(2n + 1) {
    margin-right: 0;
  }
}
a {
  color: #0f0f0f;
  text-decoration: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 500px;
  border: 1px solid black;
}
.imgDiv {
  display: flex;
  justify-content: center;
}
.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.form {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  color: #000000;
  margin: 0 0 10px 0;
}
.imgInput {
  display: none;
}
.imgLabel {
  background-color: #335eff;
  border: 1px solid blue;
  border-radius: 4px;
  color: white;
  font-weight: 500;
}
.button {
  background-color: #335eff;
  border: 1px solid blue;
  border-radius: 4px;
  color: white;
  font-weight: 500;
}
.buttonsContainer {
  display: flex;
  justify-content: space-around;
}
.titleDiv,
.descrDiv {
  text-align: left;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.addDiv {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.buttonAdd {
  border: 1 solid #335eff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.closeDiv {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}
