.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  width: 100%;
  max-width: 500px;
}

.modal{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3)
}
.form{
  background-color: #FFFFFF;
  padding: 20px;
  display:flex;
  flex-direction: column;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  color: #000000;
  margin: 0 0 10px 0;
}
.imgInput{
  display: none;
}
.imgLabel{
  background-color: #335EFF;
  border: 1px solid blue;
  border-radius: 4px;
  color: white;
  font-weight: 500;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
a{
  color: white;
}
.nav{
  display:flex;
  flex-direction:row;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
